#cont {
  width: 70%;
  height: 250px;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, white, white);
  padding: 0 !important;
}
.navbar-brand {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 50px;
  color: teal;
}
.navbar-nav li {
  padding: 0 5px;
  padding-right: 70px;
}
.navbar-nav li a {
  color: cadetblue !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.navbar-toggler {
  outline: none !important;
}
#sub {
  padding-top: 20px;
  width: 100%;
  background-color: cadetblue;
}
#white {
  color: black;
  float: left;
}
#justify {
  color: white;
  text-align: justify;
  font-size: 15px;
}
#usr {
  margin-top: 30px;
  height: 35px;
  width: 200px;
}
#last {
  width: 100%;
  background-color: teal;
  text-align: center;
  font-size: 20px;
  color: black;
}
.col-md-7 {
  padding-left: 150px;
}
#you {
  color: teal;
  padding-left: 70px;
}
#text {
  margin-left: 70px;
  height: 30px;
  width: 400px;
  margin-top: 3px;
  padding-left: 10px;
  border-style: solid;
  border-color: rgb(173, 218, 219);
}
#text2 {
  margin-left: 70px;
  height: 150px;
  width: 400px;
  margin-top: 3px;
  padding-bottom: 115px;
  padding-left: 10px;
  border-style: solid;
  border-color: rgb(173, 218, 219);
}
.btn {
  background-color: teal;
  margin-left: 70px;
  margin-top: 10px;
}
#btn1 {
  width: 200px;
  margin-top: 5px;
  margin-left: 0px;
}
#md6
{
    padding-left: 70px;
}
h3{
    color: teal;
}
h5{
    color: cadetblue;
}